.tekst{
    padding-top: 20px;
    color:rgb(0, 0, 0);
}

footer{
    min-height: 200px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    justify-content: flex-end;
    text-align: right;
}

img{
    padding: 5px;
    width: 100%;
}

.btn{
    border-radius: 0;
    background-color: rgb(0, 0, 0);
}
